@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900&display=swap');


body{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    margin: 0%;
    overflow-x: hidden;
}
.logo-nav{
    max-width: 150px;
    height: auto;
    margin-top: 10px;
}
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    position: fixed;
    background-color: #eeeeee;
    top: 0%;
    z-index: 1000;
}
.left-nav{
    display:flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;

}
.right-nav{
    margin-right: 100px;
    border: solid 1px #50b948;
    background-color: #50b948;
    border-radius: 10px;
    padding-inline: 10px;
}
.right-nav a:hover{
    color: white;
}
.left-nav a:hover{
    color: #50b948;
}
.navbar div p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.container {
    background-image: url(img/3d-background-with-white-cubes.jpg); /* Choose your background color */
    padding: 20px;
    text-align: center;
    font-size: 30px;
    height: 630px;
    background-size: cover;
    background-position: center;
}

.container::before {
    content: "";
    display: block;
    background-image: url("img/small-school-girl-using-mobile-phone-removebg-preview.png"); /* URL to your image */
    background-size: cover;
    background-position: center;
    width: 40%;
    height: auto;
    padding-top: 50%; 
    position: absolute;
    bottom: -65px; 
    left: 20%;
    transform: translateX(-50%);
    animation: slideFromBottom 2s ease forwards;
}
@keyframes slideFromBottom {
    0% {
        bottom: -200px; /* Start position */
    }
    100% {
        bottom: -65px; /* End position at the top of the container */
    }
}


.container h1{
    position: absolute;
    top: 200px;
    right: 200px;
    width: auto;
    font-size: 50px;
}

span{
    color: #50b948;
}
.container p{
    position: absolute;
    top: 300px;
    right: 200px;
    width: 500px;
    font-size: 20px;

}
.container h2{
    position: absolute;
    top: 400px;
    right: 200px;
    width: 500px;
    font-size: 15px;
    text-align: left;
    font-weight: 200;

}
.download a img{
    width: 20%;
    position: relative;
    top: 500px;
    right: -185px;
} 
.download a img:hover{
    width: 20.5%;
}
.features{

    display: flex;
    padding: 50px;
    margin: 50px;
    box-shadow: #002e6d;
    box-shadow: 5px 10px 10px 5px;
    border-radius: 10px;
    height: auto;
}
.featurer-head{
    width: 800px;
    margin-right: 10px;
}
.featurer-head h1{
    font-size: 40px;
}
.featurer-head p{
    font-weight: 300;
    font-size: 15px;
    margin-top: -20px;
    
}
button{
    border: solid  #50b948;
    width: 150px;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
    background-color: white;
    cursor: pointer;


}
.img-features {
    width: 100%;
    height: 100%;
}
.first-feature{
    display: flex;
    align-items: center;
}
.second-filter{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.details{
    width: 90%;
    margin-left: 50px;
    
}



[data-aos="fade-left"] {
    transform: translateX(-100px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

[data-aos="fade-left"].aos-animate {
    transform: translateX(0);
    opacity: 1;
}

[data-aos="fade-right"] {
    transform: translateX(100px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

[data-aos="fade-right"].aos-animate {
    transform: translateX(0);
    opacity: 1;
}

.why-section{
    background-image: url(img/3d-background-with-white-cubes.jpg); /* Choose your background color */
    height: auto;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-inline: 20px; 
}
.why-section h1{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
.first-why, .second-why{
    display: flex;
    max-width:100%;
    justify-content: space-between;
    align-items: center;


}
.first-why p, .second-why p{
    font-size: 20px;
    font-weight: 300;
}
.first-why p{
    padding-inline: 50px;
}
.second-why p{
    padding-inline: 50px;
}

.blog{
    padding: 20px;
}
.blog h1{
    text-align: center;
    font-size: 40px;
}
.blog h2{
    font-weight: 200;
    font-size: 19px;
    text-align: center ;
    margin-top: -20px;
}
article{
    width: 360px;
    padding-inline: 65px;
    padding-top: 40px;
    padding-right: 0px;
}

.image-container{
    width: 360px;
    height: 240px;
    
}
.img-size{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.article-name{
    margin-top: -30px;
}
.article-name h1{
    text-align: left;
    font-size: 20px;
    padding-bottom: 10px;

}
.article-name h2{
    text-align: left;
    font-size: 15px;

}
.author{
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: -20px;
}
.author h1,p{
    font-size: 15px;
    text-align: left;

}
.author-name h1{
    margin-top: 10px;
}
.author-name p{
    margin-top: -15px;
}
.articles{
    display: flex;
    margin-left: -50px;
    
}
.more-blog {
    text-align: center;
    padding: 40px;
}

.button1{
    text-align: center;
    border: solid  #50b948;
    width: 200px;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: #50b948;
    color: #eeeeee;

}
.button1:hover{
    color: black;
}
